.bold-text {
  font-weight: bold;
}

.backg-light {
  background-color: #f9f9f9;
}

.backg-dark {
  background-color: #e2e2e2;
}

.data-label {
  font-weight: 600; /* Bold */
  color: #4b5563; /* Gray tone */
}
