<nav class="color shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <div class="flex-shrink-0">
          <a href="home">
            <img
              class="object-cover w-16 h-16 rounded-full cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
              src="assets/img/logo.png"
              alt=""
            />
          </a>
        </div>
        <div class="hidden md:flex space-x-4">
          <a
            href="home"
            class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
          >
            Inicio
          </a>
          <a
            href="products"
            class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
          >
            Productos
          </a>
          <a
            href="offers"
            class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
          >
            Ofertas
          </a>
          <a
            href="cart"
            class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 cart-button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cart2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
              />
            </svg>
          </a>
          <div class="md:flex items-center space-x-2">
            <!-- Condicional para mostrar botón de login o logout -->
            <div *ngIf="isLogged; else loggedOutTemplate">
              <div class="btn-group cart-button">
                <button
                  type="button"
                  class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-circle"
                    viewBox="0 0 16 16"
                  >
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                    />
                  </svg>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="change-pass"
                      >Cambiar contraseña</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="my-shops">Mis compras</a>
                  </li>

                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <button class="dropdown-item" (click)="logout()">
                      Cerrar sesion
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <ng-template #loggedOutTemplate>
              <a
                href="login"
                class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 cart-button"
                >Iniciar sesión</a
              >
            </ng-template>
          </div>
          <a
            *ngIf="isLogged && isAdmin"
            href="product-table"
            class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
          >
            Admin Panel
          </a>
        </div>
      </div>
      <div class="md:flex items-center space-x-2">
        <!-- Componente de búsqueda -->
        <div class="relative text-gray-800 input">
          <input
            type="search"
            name="search"
            [(ngModel)]="searchQuery"
            placeholder="Buscar"
            class="bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none w-full sm:w-auto"
          />
          <button
            type="button"
            class="absolute right-0 top-0 h-full flex items-center justify-center mr-4"
            (click)="updateUrl()"
          >
            <svg
              class="h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 56.966 56.966"
              style="enable-background: new 0 0 56.966 56.966"
              xml:space="preserve"
              width="512px"
              height="512px"
            >
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="md:hidden">
        <button (click)="toggleMenu()" class="focus:outline-none">
          <svg
            class="w-6 h-6 text-gray-800"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isMenuOpen" class="md:hidden">
    <div class="flex flex-col items-center px-2 pt-2 pb-3 space-y-1">
      <a
        href="home"
        class="block text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 p-2 rounded-md"
      >
        Inicio
      </a>
      <a
        href="products"
        class="block text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 p-2 rounded-md"
      >
        Productos
      </a>
      <a
        href="offers"
        class="block text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 p-2 rounded-md"
      >
        Ofertas
      </a>

      <a
        href="cart"
        class="block text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 p-2 rounded-md cart-button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-cart2"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
          />
        </svg>
      </a>
      <div class="md:flex items-center space-x-2">
        <!-- Condicional para mostrar botón de login o logout -->
        <div *ngIf="isLogged; else loggedOutTemplate">
          <div class="btn-group cart-button">
            <button
              type="button"
              class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Cambiar contraseña</a>
              </li>
              <li><a class="dropdown-item" href="#">Mis compras</a></li>

              <li><hr class="dropdown-divider" /></li>
              <li>
                <button class="dropdown-item" (click)="logout()">
                  Cerrar sesion
                </button>
              </li>
            </ul>
          </div>
        </div>
        <ng-template #loggedOutTemplate>
          <a
            href="login"
            class="block text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 p-2 rounded-md cart-button"
            >Iniciar sesión</a
          >
        </ng-template>
      </div>
      <a
        *ngIf="isLogged && isAdmin"
        href="product-table"
        class="text-gray-800 hover:text-purple-800 text-lg font-light cursor-pointer transition duration-200 ease-in-out transform hover:scale-105"
      >
        Admin Panel
      </a>
    </div>
  </div>
</nav>
