<div class="font-[sans-serif] bg-gray-100">
  <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
    <h2 class="text-4xl font-extrabold text-gray-800 mb-12">Productos</h2>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-xl:gap-4 gap-6"
    >
      <div *ngFor="let product of products; let i = index">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-center">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md hover:bg-blue-500 hover:text-white"
    >
      <div class="flex items-center -mx-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 mx-1 rtl:-scale-x-100"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 16l-4-4m0 0l4-4m-4 4h18"
          />
        </svg>

        <span class="mx-1"> Anterior </span>
      </div>
    </button>

    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md hover:bg-blue-500 hover:text-white"
    >
      <div class="flex items-center -mx-1">
        <span class="mx-1"> Siguiente </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 mx-1 rtl:-scale-x-100"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </div>
    </button>
  </div>
</div>
